@import "tailwindcss";

@theme inline {
  --color-github: #6e5494;
  --color-weixin: #09b83e;
  --color-email: #0489c9;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "NotoSansSC";
  src: url("/fonts/NotoSansSC-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

body {
  font-family: "NotoSansSC", sans-serif;
}
